@font-face {
    font-family: "Open Sans Regular";
    src: url("src/fonts/OpenSansRegular.eot");
    src: url("src/fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("src/fonts/OpenSansRegular.woff") format("woff"),
    url("src/fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("src/fonts/OpenSansBold.eot");
    src: url("src/fonts/OpenSansBold.eot?#iefix") format("embedded-opentype"),
    url("src/fonts/OpenSansBold.woff") format("woff"),
    url("src/fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayFair Display Bold";
    src: url("src/fonts/PlayFairDisplay-Bold.eot");
    src: url("src/fonts/PlayFairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("src/fonts/PlayFairDisplay-Bold.woff") format("woff"),
    url("src/fonts/PlayFairDisplay-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PlayFair Display Regular";
    src: url("src/fonts/PlayFairDisplay-Regular.eot");
    src: url("src/fonts/PlayFairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("src/fonts/PlayFairDisplay-Regular.woff") format("woff"),
    url("src/fonts/PlayFairDisplay-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.green-btn {
    background-color: #6AA089;
    border-radius: 10px;
    border: 1px solid #F7F7F4;
    box-sizing: border-box;
    padding: 0;
    font-family: "Open Sans Bold";
    color: #FFFFFF;
}

.white-btn {
    background-color: #FFFFFF;
    border: 1px solid #69A08A;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0;
    font-family: "Open Sans Bold";
    color: #414141;
}

h1, h2, h3, p, div, pre, button {
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
}

.header {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1440px;
    position: fixed;
    display: flex;
    height: 82px;
    background-color: rgba(247, 247, 244, 0.91);
    align-items: center;
}

.header-logo {
    margin-left: 86px;
    align-self: flex-start;
    margin-top: 15px;
}

.header-menu {
    margin-left: 15px;
    width: 494px;
    display: flex;
    justify-content: space-around;
}

.header-menu__item {
    font-family: "Open Sans Regular";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #414141;
}

.header-menu__btn-video {
    background-color: #F7F7F4;
    margin-left: auto;
    width: 180px;
    height: 52px;
    font-size: 14px;
    border: 1px solid #6AA089;
}

.header-menu__btn-sign-up {
    margin: 0 58px 0 28px;
    width: 159px;
    height: 52px;
    font-size: 14px;
}

.main {
}

.representation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.representation__content {
    margin-left: 36px;
    margin-top: 82px;
}

.representation__head {
    font-family: "PlayFair Display Regular";
    font-size: 44px;
    line-height: 52px;
    color: #414141;
    margin-top: 102px;
    max-width: 625px;
}

.representation__description {
    font-family: "Open Sans Regular";
    font-size: 19px;
    line-height: 28px;
    color: #414141;
    margin-top: 72px;
}

.representation__join {
    height: 83px;
    margin-bottom: 44px;
}

.representation__choose-country {
    font-family: "Open Sans Bold";
    font-size: 20px;
    line-height: 28px;
    color: #414141;
    margin-top: 29px;
    margin-left: 64px;
    width: 81.05px;
    text-align: center;
}

.representation__join-text {
    font-family: "Open Sans Regular";
    font-size: 20px;
    color: #414141;
    line-height: 28px;
}

.representation__choose-btn {
    margin-left: 97.5px;
}

.representation__btn-sign-up {
    width: 228px;
    height: 60px;
    font-size: 16px;
}

.representation__btn-video {
    width: 257px;
    height: 62px;
    font-size: 16px;
    margin-left: 44.21px;
}

.representation__img {
    margin-left: auto;
}

.motives {
    max-width: 1440px;
    margin: 0 auto;
}

.first-motive {
    margin-top: 100px;
    display: flex;
}

.first-motive__img {
    margin-right: 99px;
}

.first-motive__content {
    max-width: 693px;
    margin-top: 54px;
}

.first-motive__head {
    font-family: "PlayFair Display Regular";
    font-size: 48px;
    line-height: 64px;
    color: #414141;
    text-align: center;
}

.first-motive__description {
    margin-top: 29px;
    font-family: "Open Sans Regular";
    font-size: 19px;
    line-height: 28px;
    color: #414141;
    text-align: center;
}

.second-motive {
    margin-top: 119px;
}

.second-motive__head {
    font-family: "PlayFair Display Regular";
    font-size: 48px;
    line-height: 64px;
    color: #414141;
    text-align: center;
}

.second-motive__head_color {
    color: #69A08A;
}

.second-motive__description {
    margin-top: 29px;
    font-family: "Open Sans Regular";
    font-size: 19px;
    line-height: 28px;
    color: #414141;
    text-align: center;
}

.collaboration-information {
    max-width: 1440px;
    margin: 143px auto 0;
    display: flex;
}

.collaboration-information__img {
    margin-right: 157px;
}

.collaboration-information__content {
    max-width: 520px;
    margin-top: 22px;
}

.collaboration-information__head {
    font-family: "PlayFair Display Regular";
    font-size: 44px;
    line-height: 44px;
    color: #414141;
}

.collaboration-information__description {
    margin-top: 40px;
    font-family: "Open Sans Regular";
    font-size: 19px;
    line-height: 32px;
    color: #414141;
}

.collaboration-information__description-font-size {
    font-size: 20px;
}

.collaboration-information__btn {
    margin-top: 24px;
    width: 215px;
    height: 62px;
    font-size: 16px;
}

.collaboration-advantages {
    max-width: 960px;
    margin: 57px auto 0;
    grid-template-rows: 114px 55px 83px;
}

.collaboration-advantages__img {
    margin: auto auto 0;
}

.collaboration-advantages__head {
    margin-top: 19px;
    font-family: "PlayFair Display Regular";
    font-size: 24px;
    line-height: 36px;
    color: #414141;
    text-align: center;
}

.collaboration-advantages__description {
    margin: 11px auto 0;
    font-family: "Open Sans Regular";
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    text-align: center;
    max-width: 222px;
}

.management {
    margin: 0 auto;
    max-width: 1440px;
}

.management-information {
    margin-top: 108px;
    display: flex;
}

.management-information__content {
    margin-left: 104px;
}

.management-information__head {
    margin-top: 20px;
    font-family: "PlayFair Display Regular";
    font-size: 44px;
    line-height: 44px;
    color: #414141;
}

.management-information__description {
    margin-top: 40px;
    font-family: "Open Sans Regular";
    font-size: 20px;
    line-height: 32px;
    color: #414141;
    max-width: 424px;
}

.management-information__btn {
    margin-top: 21px;
    width: 215px;
    height: 62px;
}

.management-information__img {
    margin-left: auto;
}

.management-capabilities {
    max-width: 960px;
    margin: 0 auto;
    grid-template-rows: 121px 56px 83px;
}

.management-capabilities__img {
    margin: auto auto 0;
}

.management-capabilities__head {
    margin-top: 20px;
    font-family: "PlayFair Display Regular";
    font-size: 24px;
    line-height: 36px;
    color: #414141;
    text-align: center;
}

.management-capabilities__description {
    margin: 11px auto 0;
    font-family: "Open Sans Regular";
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    text-align: center;
    max-width: 310px;
}

.motivation {
    margin: 0 auto;
    max-width: 1440px;
}

.motivation-information {
    margin-top: 139px;
    display: flex;
}

.motivation-information__content {
    margin-left: 61px;
}

.motivation-information__head {
    margin-top: 12px;
    font-family: "PlayFair Display Regular";
    font-size: 44px;
    line-height: 44px;
    color: #414141;
}

.motivation-information__description {
    max-width: 686px;
    margin-top: 40px;
    font-family: "Open Sans Regular";
    font-size: 20px;
    line-height: 32px;
    color: #414141;
}

.motivation-information__btn {
    margin-top: 45px;
    width: 215px;
    height: 62px;
    font-family: "Open Sans Regular";
    font-size: 16px;
    color: #414141;
}

.motivation-examples {
    max-width: 960px;
    margin: 0 auto;
    grid-template-rows: 95px 56px 83px;
}

.motivation-examples__img {
    margin: auto;
}

.motivation-examples__head {
    margin-top: 20px;
    font-family: "PlayFair Display Regular";
    font-size: 24px;
    line-height: 36px;
    color: #414141;
    text-align: center;
}

.motivation-examples__description {
    margin: 11px auto 0;
    font-family: "Open Sans Regular";
    font-size: 16px;
    line-height: 24px;
    color: #414141;
    text-align: center;
    max-width: 310px;
}

.conclusion {
    max-width: 1440px;
    margin: 205px auto 0;
}

.conclusion-information {
    display: flex;
}

.conclusion-information__content {
    margin-left: 129px;
    max-width: 675px;
}

.conclusion-information__head {
    margin-top: 8px;
    font-family: "PlayFair Display Bold";
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #414141;
}

.conclusion-information__description-1 {
    margin: 42px auto 0;
    max-width: 565px;
    font-family: "Open Sans Regular";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #414141;
}

.conclusion-information__description-2 {
    margin-top: 27px;
    font-family: "Open Sans Regular";
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    color: #414141;
}

.conclusion-trial {
    margin-left: 57px;
    display: flex;
    flex-direction: column;
}

.conclusion-trial__head-1 {
    margin-top: 145px;
    font-family: "PlayFair Display Bold";
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #414141;
}

.conclusion-trial__head-2 {
    font-family: "PlayFair Display Bold";
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #414141;
}

.conclusion-trial__btn {
    margin: 57px auto 0;
    width: 217px;
    height: 60px;
    font-family: "Open Sans Regular";
    font-size: 16px;
    color: #FFFFFF;
}

.footer {
    margin: 102px auto 0;
    max-width: 1440px;
    background-color: #F7F7F4;
}

.footer-container {
    margin: 0 auto;
    max-width: 940px;
    height: 249px;
    display: flex;
}

.footer-content {
    max-width: 546px;
}

.footer-logo {
    margin-top: 30px;
}

.footer-description {
    margin-top: 21px;
    font-family: "Open Sans Regular";
    font-size: 16px;
    line-height: 24px;
    color: #414141;
}

.footer-menu {
    margin-top: 38px;
}

.footer-menu__item {
    margin-right: 18px;
    font-family: "Open Sans Regular";
    font-size: 14px;
    line-height: 20px;
    color: #414141;
}

.footer-social-networks {
    margin-left: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
}

.footer-social-networks__item {
    margin-left: 16px;
}